# Entorno y dependencias
.venv/
__pycache__/
*.pyc
.pytest_cache/

# Builds y binarios
build/
dist/
dist_build/
*.exe
*.app

# Archivos temporales
.DS_Store
*.log

# Especificaciones PyInstaller opcionales
!RaizQA_macos.spec
